# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\לימודים אקדמיים\תואר שני\עיבוד שפה טבעית\Final Project - TRBLLmaker\TRBLLmaker-NLP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml